{% extends 'base.html' %}
{% block navbar_home %}Home{% endblock %}

<!-- {% block dropdown_menu_items %}
    <li><a class="dropdown-item" href="#">All Products</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="{% url 'category' 'eirtiga' %} " target="_blank">eirtiga</a></li>
    <li><a class="dropdown-item" href="{% url 'category' 'shift' %}" target="_blank">shift</a></li>
{% endblock %} -->

{% block content %}
    <!-- Header-->
    <!-- <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Find your product Here</h1>
                <p class="lead fw-normal text-white-50 mb-0">Search Parts</p>
            </div>
        </div>
    </header> -->

    <br>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <input type="text" class="form-control" placeholder="Search Parts" name="searched">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
<br> </dr>
<br> </dr>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-5 justify-content-center">
                {% if results %}
                    {% for product in results %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h8 class="fw-bolder">ID: {{ product.part_ID }}</h8>
                                        <h8 class="fw-bolder">Name: {{ product.Part_name }}</h8>
                                        <h8 class="fw-bolder">Price: {{ product.Price }}</h8>
                                        <!-- <h8 class="fw-bolder">Category: {{ product.category }}</h8> -->
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{% url 'product_view' product.id %}">View Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
