{% extends 'base.html' %}
{% block navbar_model %}
{% endblock %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>Maruti Suzuki Parts Finder</span></h1>
        <h2>Discover the World of Maruti Suzuki Parts Through Images</h2>

        <div class="btns">
          <a href="{% url 'search' %}" class="btn-menu animated fadeInUp scrollto">Search</a>
          <a href="{% url 'product' %}" class="btn-menu animated fadeInUp scrollto">Parts</a>
        </div>
      </div>
      <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
      </div> -->

    </div>
  </div>
</section>
<!-- End Hero -->

  <main id="main">

   <!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
          <img src="{% static 'assets/img/about.png' %}" alt="">
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>About Maruti Suzuki Parts Finder</h3>
        <p class="fst-italic">
          Welcome to Maruti Suzuki Parts Finder, your ultimate destination for locating genuine Maruti Suzuki parts with ease. Our website is designed to cater to all Maruti Suzuki customers, whether they're familiar with automotive parts or simply recognize them by name and part ID.
        </p>
        <p>
          At Maruti Suzuki Parts Finder, we understand the importance of empowering our customers. In addition to providing a comprehensive catalog of genuine Maruti Suzuki parts, we offer a unique feature that allows customers to contribute to our platform. If you have knowledge about specific parts and possess images, part IDs, and names, you can upload them directly to our website.
        </p>
        <p>
          Our platform is dedicated to fostering a community-driven approach to part identification and knowledge sharing. By allowing customers to upload images, part IDs, and names, we create a collaborative environment where everyone can contribute their expertise and help fellow Maruti Suzuki enthusiasts find the parts they need.
        </p>
        <p>
          Whether you're looking to explore our catalog, contribute to our platform, or simply learn more about Maruti Suzuki automotive components, Maruti Suzuki Parts Finder is here to serve you.
        </p>
        <p>
          We are committed to providing exceptional service and support to our customers. If you have any questions or need assistance, our team is here to help. Simply reach out to us through our contact form, and we'll be happy to assist you.
        </p>
        <p>
          Thank you for choosing Maruti Suzuki Parts Finder. Together, we can build a comprehensive resource for Maruti Suzuki enthusiasts worldwide!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Why Us</h2>
      <p>Why Choose Maruti Suzuki Parts Finder</p>
    </div>

    <div class="row">

      <div class="col-lg-4">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
          <span>01</span>
          <h4>Visual Understanding</h4>
          <p>Maruti Suzuki Parts Finder is dedicated to helping customers understand Maruti Suzuki parts visually. Our platform provides high-quality images and detailed descriptions of parts, making it easy for customers to identify and learn about different components of their vehicles.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in" data-aos-delay="200">
          <span>02</span>
          <h4>Comprehensive Catalog</h4>
          <p>We offer a comprehensive catalog of Maruti Suzuki parts, covering a wide range of components used in various models. Whether you're a novice or an enthusiast, our platform provides valuable insights into the world of Maruti Suzuki automotive components.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in" data-aos-delay="300">
          <span>03</span>
          <h4>Community Engagement</h4>
          <p>Maruti Suzuki Parts Finder fosters a community-driven approach to part identification and knowledge sharing. Customers can contribute their expertise by uploading images and descriptions of parts, helping fellow Maruti Suzuki enthusiasts find the parts they need.</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Why Us Section -->

  <!-- ======= Gallery Section ======= -->
  <!-- <section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Products</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
              <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section>End Gallery Section -->

  
  <!-- ======= Contact Section ======= -->
  <!-- <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    <div data-aos="fade-up">
      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br>
                11:00 AM - 2300 PM
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section>End Contact Section -->

</main><!-- End #main -->
{% endblock %}